 html,
 body {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
 }
 
 ul {
     margin: 0;
     padding: 0;
 }
 
 .ino-welcome__header {
    padding: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
 }

 .ino-welcome__main {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    padding: 5px 5px;
 }
 
 .ino-welcome__main > h2 {
     width: 100%;
     text-align: center;
 }
 
 .ino-welcome__features {
     list-style-type: none;
     margin-top: 5px;
 }
 
 .ino-welcome__features.ino-List .ino-ListItem {
     padding-bottom: 5px;
     display: -webkit-flex;
     display: flex;
 }
 
 .ino-welcome__features.ino-List .ino-ListItem > .ino-Icon {
     margin-right: 5px;
 }
 
 .ino-welcome__action.ino-Button--hero {
     margin-top: 5px;
 }
 
.ino-Button.ino-Button--hero .ino-Button-label {
  color: #0078d7;
}

.ino-Button.ino-Button--hero:hover .ino-Button-label,
.ino-Button.ino-Button--hero:focus .ino-Button-label{
  color: #005a9e;
  cursor: pointer;
}

b {
    font-weight: bold;
}